In [12]:
import pandas as pd #Analysis 
import numpy as np #Analysis 
import matplotlib.pyplot as plt #Visulization
import seaborn as sns #Visulization

# 한글설정
from matplotlib import font_manager, rc 
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

### 데이터 불러오기

In [13]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
sub = pd.read_csv('../data/sample_submission.csv')
age = pd.read_csv('../data/age_gender_info.csv')

train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

### 데이터 프레임 컬러명 수정(긴 이름들이 있어서)

In [14]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수',
       '10분내버스정류장수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수',
       '10분내버스정류장수', '단지내주차면수']

### 데이터 오류로 인한 데이터 제외

##### 1. 테스트셋에서 평가 제외되는 데이터는 'C2675'(2번 사항에 해당), 'C2335', 'C1327'(3번 사항에 해당) 3개 단지입니다.

In [15]:
len(train['단지코드'].unique())

423

##### train에서 해당 데이터를 확인

In [16]:
train.loc[((train['단지코드'] == 'C2675')|
          (train['단지코드'] == 'C2335')|
          (train['단지코드'] == 'C1327')),:]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수, 등록차량수]
Index: []

##### test에서 해당 데이터 확인

In [17]:
test.loc[((test['단지코드'] == 'C2675')|
          (test['단지코드'] == 'C2335')|
          (test['단지코드'] == 'C1327')),:]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
579,C2675,512,아파트,경기도,국민임대,36.65,130,9.0,A,18476000,154790,0.0,3.0,1016.0
580,C2675,512,아파트,경기도,국민임대,46.90,44,9.0,A,34082000,232200,0.0,3.0,1016.0
581,C2675,512,아파트,경기도,국민임대,46.90,80,9.0,A,34082000,232200,0.0,3.0,1016.0
582,C2675,512,아파트,경기도,국민임대,46.90,50,9.0,A,34082000,232200,0.0,3.0,1016.0
583,C2675,512,아파트,경기도,국민임대,46.90,88,9.0,A,34082000,232200,0.0,3.0,1016.0
584,C2675,512,아파트,경기도,국민임대,47.40,30,9.0,A,34082000,232200,0.0,3.0,1016.0
585,C2675,512,아파트,경기도,국민임대,51.93,75,9.0,A,43819000,275900,0.0,3.0,1016.0
586,C2675,512,아파트,경기도,국민임대,51.93,15,9.0,A,43819000,275900,0.0,3.0,1016.0
891,C1327,98,아파트,대전광역시,행복주택,16.83,30,13.0,J,18800000,94000,NaN,17.0,98.0
892,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,J,28400000,142000,NaN,17.0,98.0
893,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,J,28400000,142000,NaN,17.0,98.0
894,C1327,98,아파트,대전광역시,행복주택,36.92,48,13.0,J,36800000,184000,NaN,17.0,98.0
953,C2335,112,아파트,전라북도,영구임대,19.95,84,3.0,C,2312000,51450,0.0,1.0,636.0
954,C2335,112,아파트,전라북도,영구임대,26.85,28,3.0,C,3111000,69240,0.0,1.0,636.0

##### test에서 3개의 코드 데이터 삭제

In [18]:
test = test.loc[~((test['단지코드'] == 'C2675')|
               (test['단지코드'] == 'C2335')|
               (test['단지코드'] == 'C1327')),:]

##### 확인

In [19]:
test.loc[((test['단지코드'] == 'C2675')|
          (test['단지코드'] == 'C2335')|
          (test['단지코드'] == 'C1327')),:]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수]
Index: []

##### 2. 동일한 단지에 코드가 2개로 부여된 단지 코드 (3쌍) : ['C2085', 'C1397'], ['C2431', 'C1649'], ['C1036', 'C2675']
##### (참고 사항) 주차면수는 하나의 단지임을 전제로 산정된 것이고 총세대수는 두 개 단지의 합계입니다. 다만 등록차량대수는 ['C2085', 'C1397'] 단지의 경우 동일 수치

In [48]:
train.loc[train['단지코드'] == 'C2085', '총세대수'] = 1339
train.loc[train['단지코드'] == 'C1397', '총세대수'] = 1339

In [49]:
c = train.loc[:, ['단지코드','총세대수']]
c

       단지코드  총세대수
0     C2483   900
1     C2483   900
2     C2483   900
3     C2483   900
4     C2483   900
...     ...   ...
2947  C2532   239
2948  C2532   239
2949  C2532   239
2950  C2532   239
2951  C2532   239

[2952 rows x 2 columns]

In [41]:
print(train.loc[ train['단지코드']=='C2085', : ].shape)
print(train.loc[ train['단지코드']=='C1397', : ].shape)

(8, 15)
(6, 15)

##### 단지코드를 C2085, C1397 => N2085로 변경

In [42]:
train.loc[ train['단지코드']=='C2085',  "단지코드" ] = 'N2085'
train.loc[ train['단지코드']=='C1397',  "단지코드" ] = 'N2085'

In [43]:
train.loc[ train['단지코드']=='N2085', : ].shape

(14, 15)

##### 오류 코드 변경

##### C2431, C1649의 총세대수를 1047로 변경
##### C2431, C1649의 등록차량대수를 1214로 변경
##### C2431, C1649의 단지코드를 N2431로 변경

In [50]:
a = train.loc[ train['단지코드']=='C2431', : ]
b = train.loc[ train['단지코드']=='C1649', : ]

print(  a.shape, b.shape )
print( a['총세대수'], b['총세대수'])
print( a['등록차량수'], b['등록차량수'])

(2, 15) (4, 15)
2372    472
2373    472
Name: 총세대수, dtype: int64 2315    575
2316    575
2317    575
2318    575
Name: 총세대수, dtype: int64
2372    359.0
2373    359.0
Name: 등록차량수, dtype: float64 2315    855.0
2316    855.0
2317    855.0
2318    855.0
Name: 등록차량수, dtype: float64

In [51]:
train.loc[ train['단지코드']=='C2431',  "총세대수" ] = 1047
train.loc[ train['단지코드']=='C1649',  "총세대수" ] = 1047

train.loc[ train['단지코드']=='C2431',  "등록차량수" ] = 1214
train.loc[ train['단지코드']=='C1649',  "등록차량수" ] = 1214

train.loc[ train['단지코드']=='C2431',  "단지코드" ] = 'N2431'
train.loc[ train['단지코드']=='C1649',  "단지코드" ] = 'N2431'

In [52]:
train.loc[ train['단지코드']=='N2431', : ].shape

(6, 15)

##### C1036의 총세대수를 1243로 변경

##### C1036의 단지코드를 N1036로 변경

In [53]:
a = train.loc[ train['단지코드']=='C2675', : ]
b = train.loc[ train['단지코드']=='C1036', : ]
a.shape, b.shape

((0, 15), (7, 15))

In [54]:
train.loc[ train['단지코드']=='C1036',  "총세대수" ] = 1243
train.loc[ train['단지코드']=='C1036',  "단지코드" ] = 'N1036'

In [55]:
train.loc[ train['단지코드']=='N1036', : ].shape

(7, 15)


##### 오류 3
3. 단지코드 등 기입 실수로 데이터 정제 과정에서 매칭 오류 발생  
 - (오류 내용) 단지코드 등 기입 실수로 총세대수가 주차면수에 비해 과하게 많거나 적은 경우가 발생하였고, 점검 결과 일부 데이터의 단지코드, 총세대수, 주차면수 등에서 오류가 검출되었습니다.
 - (발생 원인) 원천데이터 수집 과정에서 단지 코드 등이 잘못 기입되었고 이를 인지하지 못한 채 데이터 정제를 하여 오류가 발생하였습니다.
 - (관련 데이터) 아래와 같이 총 9개 단지에서 같은 문제가 확인되었습니다. 
※ 실수가 발생한 단지 코드 (9개 단지) : ['C2335', 'C1327', 'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']
 - C2335, C1327 단지는 테스트셋, 나머지는 트레인셋 입니다.

In [56]:
train.loc[ train['단지코드']=='C1095',  "단지코드" ] = 'ERR04_1095'
train.loc[ train['단지코드']=='C2051',  "단지코드" ] = 'ERR04_2051'
train.loc[ train['단지코드']=='C1218',  "단지코드" ] = 'ERR04_1218'
train.loc[ train['단지코드']=='C1894',  "단지코드" ] = 'ERR04_1894'
train.loc[ train['단지코드']=='C2483',  "단지코드" ] = 'ERR04_2483'
train.loc[ train['단지코드']=='C1502',  "단지코드" ] = 'ERR04_1502'
train.loc[ train['단지코드']=='C1988',  "단지코드" ] = 'ERR04_1988'

In [57]:
train.loc[ train['단지코드'].str.contains('ERR'), :].shape

(56, 15)

In [58]:
train.loc[ train['단지코드'].str.contains('ERR'), :]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
5,ERR04_2483,900,아파트,경상북도,국민임대,51.95,89,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
6,ERR04_2483,900,아파트,경상북도,국민임대,51.95,135,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
7,ERR04_2483,900,아파트,경상북도,국민임대,59.88,86,38.0,A,30357000,214270,0.0,3.0,1425.0,1015.0
1228,ERR04_1988,475,아파트,전라남도,국민임대,36.63,200,12.0,A,12026000,87940,0.0,2.0,722.0,402.0
1229,ERR04_1988,475,아파트,전라남도,국민임대,36.63,43,12.0,A,12026000,87940,0.0,2.0,722.0,402.0
1230,ERR04_1988,475,아파트,전라남도,국민임대,46.22,204,12.0,A,15304000,103850,0.0,2.0,722.0,402.0
1231,ERR04_1988,475,아파트,전라남도,국민임대,46.22,28,12.0,A,15304000,103850,0.0,2.0,722.0,402.0
1521,ERR04_1502,407,아파트,울산광역시,국민임대,46.90,241,7.0,A,19895000,160400,0.0,5.0,552.0,438.0
1522,ERR04_1502,407,아파트,울산광역시,국민임대,46.90,166,7.0,A,19895000,160400,0.0,5.0,552.0,438.0
2270,ERR04_1095,1256,아파트,경기도,국민임대,29.95,66,37.0,A,11586000,151930,0.0,3.0,528.0,505.0
2271,ERR04_1095,1256,아파트,경기도,국민임대,36.90,36,37.0,A,13663000,189090,0.0,3.0,528.0,505.0
2272,ERR04_1095,1256,아파트,경기도,국민임대,36.98,102,37.0,A,13663000,189090,0.0,3.0,528.0,505.0
2273,ERR04_1095,1256,아파트,경기도,국민임대,36.98,320,37.0,A,13663000,189090,0.0,3.0,528.0,505.0
2274,ERR04_1095,1256,아파트,경기도,국민임대,46.94,178,37.0,A,25140000,240470,0.0,3.0,528.0,505.0
2275,ERR04_1095,1256,아파트,경기도,국민임대,46.96,240,37.0,A,25140000,240470,0.0,3.0,528.0,505.0
2276,ERR04_1095,1256,아파트,경기도,국민임대,51.70,202,37.0,A,30605000,262330,0.0,3.0,528.0,505.0
2277,ERR04_1095,1256,아파트,경기도,국민임대,59.94,112,37.0,A,38256000,318070,0.0,3.0,528.0,505.0
2426,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),59.39,2,0.0,A,39000000,440000,0.0,3.0,755.0,780.0
2427,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),59.87,48,0.0,A,39000000,440000,0.0,3.0,755.0,780.0
2428,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),59.87,241,0.0,A,39000000,440000,0.0,3.0,755.0,780.0
2429,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),59.96,3,0.0,A,39000000,440000,0.0,3.0,755.0,780.0
2430,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),65.39,24,0.0,A,39000000,480000,0.0,3.0,755.0,780.0
2431,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),72.82,64,0.0,A,49000000,520000,0.0,3.0,755.0,780.0
2432,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),74.55,267,0.0,A,49000000,535000,0.0,3.0,755.0,780.0
2433,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),79.61,7,0.0,A,55000000,570000,0.0,3.0,755.0,780.0
2434,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),79.74,35,0.0,A,55000000,570000,0.0,3.0,755.0,780.0
2435,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),79.93,3,0.0,A,55000000,570000,0.0,3.0,755.0,780.0
2436,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.32,22,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2437,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.51,8,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2438,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.58,2,0.0,A,61000000,590000,0.0,3.0,755.0,780.0
2439,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.59,10,0.0,A,63000000,590000,0.0,3.0,755.0,780.0
2440,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.82,6,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2441,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.82,23,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2442,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.86,163,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2443,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.89,3,0.0,A,65000000,590000,0.0,3.0,755.0,780.0
2444,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.91,126,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2445,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.92,87,0.0,A,61000000,585000,0.0,3.0,755.0,780.0
2446,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.93,2,0.0,A,61000000,590000,0.0,3.0,755.0,780.0
2447,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.93,6,0.0,A,65000000,590000,0.0,3.0,755.0,780.0
2448,ERR04_2051,1164,아파트,세종특별자치시,공공임대(10년),84.93,12,0.0,A,65000000,590000,0.0,3.0,755.0,780.0
2849,ERR04_1218,1048,아파트,경기도,행복주택,16.45,336,28.0,J,41200000,164800,0.0,6.0,1140.0,921.0
2850,ERR04_1218,1048,아파트,경기도,행복주택,26.52,180,28.0,J,64400000,257600,0.0,6.0,1140.0,921.0
2851,ERR04_1218,1048,아파트,경기도,행복주택,36.37,524,28.0,J,86800000,347200,0.0,6.0,1140.0,921.0
2882,ERR04_1894,307,아파트,경기도,행복주택,16.77,110,13.0,J,18915000,75660,0.0,4.0,212.0,419.0
2883,ERR04_1894,307,아파트,경기도,행복주택,16.77,16,13.0,J,18915000,75660,0.0,4.0,212.0,419.0
2884,ERR04_1894,307,아파트,경기도,행복주택,23.80,8,13.0,J,26316000,105260,0.0,4.0,212.0,419.0
2885,ERR04_1894,307,아파트,경기도,행복주택,23.92,26,13.0,J,26316000,105260,0.0,4.0,212.0,419.0
2886,ERR04_1894,307,아파트,경기도,행복주택,23.92,24,13.0,J,26316000,105260,0.0,4.0,212.0,419.0
2887,ERR04_1894,307,아파트,경기도,행복주택,30.10,12,13.0,J,33307000,133220,0.0,4.0,212.0,419.0
2888,ERR04_1894,307,아파트,경기도,행복주택,30.85,8,13.0,J,32484000,129930,0.0,4.0,212.0,419.0
2889,ERR04_1894,307,아파트,경기도,행복주택,36.87,92,13.0,J,38652000,154610,0.0,4.0,212.0,419.0

### 데이터 오류 처리 후, csv파일을 만들기

In [60]:
train_df = train.copy()
train_df_errno = train.loc[ ~train['단지코드'].str.contains('ERR'), :]
test_df = test.copy()

In [61]:
train_df.to_csv("train_df.csv", index=False)
train_df_errno.to_csv("train_df_errno.csv", index=False)

test_df.to_csv("test_df.csv", index=False)